<h2>Cats that are not sleepy!</h2>



 <label>Browser Select</label>
  {{#each cars}}
 <form action="/about/{{model}}" method="GET">
  
    <input type="submit" value="{{model}}">
    
</form>
{{/each}}
