<h2>Cats that are not sleepy!</h2>



 <label>Browser Select</label>
  {{#each cars}}
 <form action="https://www.{{make}}/{{model}}" method="GET">
  
    <input type="submit" value="{{make}}{{model}}">
    
</form>
{{/each}}

