<h1 style="color: rgb(8, 236, 57);
  text-shadow: 2px 8px 4px #01000e"> Login</h1>
<form action="/login" method="POST">

  <div>
    <label style="color: white;
  text-shadow: 2px 2px 4px #000000" for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label style="color: white;
  text-shadow: 2px 2px 4px #000000" for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button style="color: white;
  text-shadow: 2px 2px 4px #000000" type="submit">login</button>

</form>
<a style="color: white;
  text-shadow: 2px 2px 4px #000000" href="/register">register</a>